.hide {
  display: contents;
}

@media screen and (max-width: 600px) {
  .hide {
    display: none;
  }
  .spaceToSeaText {
    font-size: 0.7rem;
  }
  .spaceToSeaText img {
    width: 20px;
  }
}
.seaGrantLogo {
  width: 250px;
}

@media screen and (max-width: 375px) {
  .seaGrantLogo {
    width: 175px;
  }
}
